<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Agroculture</title>

  <title>codestormers</title>
  <style media="screen">
    .footer{
      position: fixed;
    }
  </style>
</head>

<body style="background-color: #B3E5FC;">
  {%if request.user.is_authenticated%}
    {% include "ecom/customer_navbar.html" %}
  {%else%}
    {% include "ecom/navbar.html" %}
  {%endif%}
  <br><br><br>
<h1 style="text-align:center;"><b>Agroculture <br><br><h2>Code Stormers<br><br>
  <br>Narayana Datta Jupalli- 801362272
  <br>Satya Datta Jupalli- 801362268
  <br>Sudhish Cherukuri - 801366050
  <br>Pooja Pathi - 801368916
  <br>Triveni Vemuri – 801340676
  <br>Lakshmi Varshita Jammigumpula -801367886</h2>
   </h1>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  {% include "ecom/footer.html" %}
</body>
<!--
developed By : codestormers kumar
facebook : fb.com/codestormers.luv
youtube : youtube.com/lazycoders
-->

</html>
