<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Agroculture</title>
<style>
    body{
    background-image: url("static/images/background_img.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
    .alert-success {
    color: black !important;
    background-color: transparent !important;
    border: none !important;
  }
</style>
</head>

<body>

  {%if request.user.is_authenticated%}
    {% include "ecom/customer_navbar.html" %}
  {%else%}
    {% include "ecom/navbar.html" %}
  {%endif%}

  <center>
    <h3 class='alert alert-success'>Send Us Your Valuable Feedback !</h3>

    <form method="POST">
      <!-- Very Important csrf Token -->
      {% csrf_token %}
      <div class="form-group">
        <p>
        <h3>{{ form.as_p }}</h3>
        </p>
        <br>
        <input type="submit" value="Send Message" class='btn btn-primary btn-lg'>
      </div>
    </form>
  </center>
  {% include "ecom/footer.html" %}
</body>
<!--
developed By : codestormerss
-->

</html>
